#swiper-container {
  position: relative;
  width: 65%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .swiper-container-wrapper {
    position: relative;
  
    .swiper-button1 {
      position: absolute;
      top: 50%;
      right: 85%;
      transform: translateY(-50%);
    }
    .swiper-button2 {
      position: absolute;
      top: 50%;
      left: 85%;
      transform: translateY(-50%);
      height: 100px;
    }
  }

  .full-container{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .half-container{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
  }

  .quarter-container{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    height: 185px;
    margin-top: 10px;
  }

  ion-grid{
    width: 80%;
  }
  ion-row{
    
    width: 100%;
  }
