<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="back-arrow" routerLink="/listings" routerDirection="root">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Listing</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item *ngIf="list">
    <div class="swiper-container-wrapper">
      <ion-buttons slot="start" class="swiper-button1" #one>
        <ion-button (click)="goPrev()" #one>
          <img src="assets/icon/arrow-back.png" #back>
        </ion-button>
      </ion-buttons>
      <swiper-container #swiper
        (afterinit)="swiperReady()"
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true">
        <!-- Slides content goes here -->
        <ion-item *ngFor="let photo of list.photos">
          <swiper-slide>
            <img src="{{photo}}">
          </swiper-slide>
        </ion-item>
      </swiper-container>
      <ion-buttons slot="end" class="swiper-button2" #two>
        <ion-button (click)="goNext()" #two>
          <img src="assets/icon/arrow-forward.png" #forward>
        </ion-button>
      </ion-buttons>
    </div>
  <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title >Grand Family House</ion-card-title>
        <ion-card-subtitle>R {{list.price}}</ion-card-subtitle>
        <ion-card-subtitle>{{list.address}}</ion-card-subtitle>
      </ion-card-header>
    <br>
      <ion-card-content>
        <br>
        <!-- <br> -->
        <div id="house_details">
          <img src="assets/icon/bedrooms.png">
          {{list.bed}}
          &nbsp; &nbsp;&nbsp;
          <img src="assets/icon/bathrooms.png">
          {{list.bath}}
          &nbsp; &nbsp;&nbsp;
          <img src="assets/icon/floorplan.png">
          {{list.floor_size}} m<sup>2</sup> 
          &nbsp; &nbsp;&nbsp;
          <img src="assets/icon/erf.png">
          {{list.property_size}} m<sup>2</sup>
        </div>
      </ion-card-content>
    </ion-card>
  <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Unlock the Potential of this Large Family Property - Ideal for Investment, Subdivision!
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>
          {{list.desc}}
        </p>
    
        <ion-list>

          <ion-list-header>
            <ion-label>
              Amenities:
            </ion-label>
          </ion-list-header>

          <ion-item *ngFor="let feature of list.features">
            <ion-label>{{feature}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  <br>

    <ion-card class="ion-padding">
        <ion-item>
          <ion-label position="floating" style="color: #0DAE4F;">Loan Amount (R)</ion-label>
          <ion-input type="number" [(ngModel)]="loanAmount"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating" style="color: #0DAE4F;">Interest Rate (%)</ion-label>
          <ion-input type="number" [(ngModel)]="interestRate"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating" style="color: #0DAE4F;">Loan Term (Years)</ion-label>
          <ion-input type="number" [(ngModel)]="loanTerm"></ion-input>
        </ion-item>
      
        <ion-button expand="full" (click)="calculateMortgage()">Calculate</ion-button>
      
        <ion-item>
          <ion-label>Monthly Payment:</ion-label>
          <ion-text>{{ monthlyPayment | currency: 'R' }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Total Once-off Costs:</ion-label>
          <ion-text>{{ totalOnceOffCosts | currency: 'R' }}</ion-text>
        </ion-item>
      
        <ion-item>
          <ion-label>Min Gross Monthly Income:</ion-label>
          <ion-text>{{ minGrossMonthlyIncome | currency: 'R' }}</ion-text>
        </ion-item>

    </ion-card>
  </ion-item>  
 </ion-content>

