<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
   
    <ion-item>
    <ion-label position="floating">Surname</ion-label>
    <ion-input type="text" [(ngModel)]="Surname"></ion-input>
  </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="full" (click)="register()">Sign Up</ion-button>
  </div>

  <div class="ion-padding">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</ion-content>
