<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Proper Property</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/house1.jpg" alt="house1">
      <ion-card-title>Grand Family House</ion-card-title>
      <ion-card-subtitle>R 6 500 000</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A spacious and luxurious residence designed to accommodate large families with ample living space and luxurious amenities.
      <br>
      <br>
      <div id="house_details">
        <img src="assets/icon/bedrooms.png">
        6 
        &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/bathrooms.png">
        4 
        &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/floorplan.png">
         780 m<sup>2</sup> 
         &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/erf.png">
        2000 m<sup>2</sup>
      </div>

      <button class="heart-button">
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
