<ion-header [translucent]="true">
  
  <ion-toolbar class="first-toolbar">

  
    <ion-buttons slot="end">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/listings" routerDirection="root">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="root">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" routerDirection="root">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons id="login-button" slot="end">
      <ion-button routerLink="/login" routerDirection="root">
       Login
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>

  <ion-toolbar class = "profile-nav" >

      <ion-tabs>
        <ion-tab-bar slot="end">
          <ion-tab-button tab="profile" routerLink="/profile" routerDirection="root">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="create-listing" routerLink="/create-listing" routerDirection="root" >
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Create Listing</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="saved-listings" routerLink="/saved-listings" routerDirection="root" class="green-tab">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Saved Listings</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="my-listings" routerLink="/my-listings" routerDirection="root">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>My Listings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4">
<ion-card>
  <ion-card-header>
    <img src="assets/house3.jpg" alt="house1">
    <ion-card-title  >Nestled Nook</ion-card-title>
    <ion-card-subtitle style="color: #0DAE4F;">R 7 450 000</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    A wholesome family home.
    <br>
    <br>
    <div id="house_details">
      <img src="assets/icon/bedrooms.png">
      7
      &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/bathrooms.png">
      6
      &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/floorplan.png">
       800 m<sup>2</sup> 
       &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/erf.png">
      1600 m<sup>2</sup>
    </div>

    <ion-button fill="clear" (click)="unlikeCard($event)" class="like-button" [ngClass]="{'red': isRed}" (click)="toggleColor()">
      <ion-icon name="heart" [ngClass]="{ 'liked': isLiked }"></ion-icon>
    </ion-button>

  </ion-card-content>
</ion-card>
</ion-col>
<ion-col size="12" size-sm="6" size-md="4">
  
<ion-card>
  <ion-card-header>
    <img src="assets/house2.jpg" alt="house1">
    <ion-card-title  >Nestled Nook</ion-card-title>
    <ion-card-subtitle style="color: #0DAE4F;">R 7 450 000</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    A wholesome family home.
    <br>
    <br>
    <div id="house_details">
      <img src="assets/icon/bedrooms.png">
      7
      &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/bathrooms.png">
      6
      &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/floorplan.png">
       800 m<sup>2</sup> 
       &nbsp; &nbsp;&nbsp;
      <img src="assets/icon/erf.png">
      1600 m<sup>2</sup>
    </div>

    <ion-button fill="clear" (click)="unlikeCard($event)" class="like-button" [ngClass]="{'red': isRed}" (click)="toggleColor()">
      <ion-icon name="heart" [ngClass]="{ 'liked': isLiked }"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col size="12" size-sm="6" size-md="4">
  <ion-card>
    <ion-card-header>
      <img src="assets/house1.png" alt="house1">
      <ion-card-title  >Nestled Nook</ion-card-title>
      <ion-card-subtitle style="color: #0DAE4F;">R 7 450 000</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      A wholesome family home.
      <br>
      <br>
      <div id="house_details">
        <img src="assets/icon/bedrooms.png">
        7
        &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/bathrooms.png">
        6
        &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/floorplan.png">
         800 m<sup>2</sup> 
         &nbsp; &nbsp;&nbsp;
        <img src="assets/icon/erf.png">
        1600 m<sup>2</sup>
      </div>

      <ion-button fill="clear" (click)="unlikeCard($event)" class="like-button" [ngClass]="{'red': isRed}" (click)="toggleColor()">
        <ion-icon name="heart" [ngClass]="{ 'liked': isLiked }"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>
  </ion-col>
<!-- Add more ion-cols for additional cards -->
</ion-row>
</ion-grid>

</ion-content>
