<ion-header [translucent]="true">
  
  <ion-toolbar class="first-toolbar">

  
    <ion-buttons slot="end">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/listings" routerDirection="root">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="root">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" routerDirection="root">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons id="login-button" slot="end">
      <ion-button routerLink="/login" routerDirection="root">
       Login
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>

  <ion-toolbar class = "profile-nav" >

      <ion-tabs>
        <ion-tab-bar slot="end">
          <ion-tab-button tab="profile" routerLink="/profile" routerDirection="root">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="create-listing" routerLink="/create-listing" routerDirection="root" class="green-tab">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Create Listing</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="saved-listings" routerLink="/saved-listings" routerDirection="root">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Saved Listings</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="my-listings" routerLink="/my-listings" routerDirection="root">

            <ion-icon name="list-outline"></ion-icon>
            <ion-label>My Listings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create-listing</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid [fixed]="true">
    <ion-label class="imageText" >Add Photos of your property</ion-label>
    <span class="required-indicator" *ngIf="!photos.length">*</span>
    
    <ion-row id="add-photos">
      <ion-col id="current-images" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <!-- Display uploaded images here -->
        <div *ngFor="let photo of photos; let i = index" class="uploaded-image">
          <img [src]="photo" alt="Uploaded Image" />
          <ion-icon name="close-circle" (click)="removeImage(i)"></ion-icon>
        </div>
        <div class="drag-drop-area" (click)="fileInput.click()">
          <ion-icon name="add-circle-outline" class="icon-on-top"></ion-icon>
          <ion-label class="imageText">Click here or drag and drop an image</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto" id="choose-input" class="ion-text-center ion-justify-content-center">
        <input type="file" accept="image/*" (change)="handleFileInput($event)" hidden #fileInput>
        <!-- <ion-button expand="full" (click)="fileInput.click()" class="btnUpload">
          <ion-label class="imageText">Add Image</ion-label>
        </ion-button> -->
      </ion-col>
    </ion-row>
    
    
    
    

    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Property Residential Address<span class="required-indicator" *ngIf="!address">*</span></ion-label>
          
          <ion-input type="text" id="address" [(ngModel)]="address" required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Listing Price<span class="required-indicator" *ngIf="!price">*</span></ion-label>
          
          <ion-input type="text" id="price" [(ngModel)]="price" (input)="formatPrice()"  required></ion-input>
          <ion-note slot="end">ZAR</ion-note>
        </ion-item>
      </ion-col>
    </ion-row>

    

    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Bedroom Count<span class="required-indicator" *ngIf="!bedrooms">*</span></ion-label>
          
          <ion-input type="number" id="bed" [(ngModel)]="bedrooms" required></ion-input>
          
        </ion-item>
      </ion-col>

      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Bathroom Count<span class="required-indicator" *ngIf="!bathrooms">*</span></ion-label>
          
          <ion-input type="number" id="bath" [(ngModel)]="bathrooms" required></ion-input>
          
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-select id="prop-type" aria-label="prop-type" placeholder="Property Type">
          <ion-select-option value="House">House</ion-select-option>
          <ion-select-option value="Apartment">Apartment</ion-select-option>
          <ion-select-option value="Commercial">Commercial Property</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Floor Size &#40; m<sup>2</sup>&#41;<span class="required-indicator" *ngIf="!floor_size">*</span></ion-label>
          
          <ion-input type="number" id="floor-size" [(ngModel)]="floor_size" required></ion-input>
          
        </ion-item>
      </ion-col>

      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Erf size &#40; m<sup>2</sup>&#41;<span class="required-indicator" *ngIf="!erf_size">*</span></ion-label>
          
          <ion-input type="number" id="property-size" [(ngModel)]="erf_size" required></ion-input>
          
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-select id="orientation" aria-label="orientation" placeholder="Orientation">
          <ion-select-option value="North">North</ion-select-option>
          <ion-select-option value="East">East</ion-select-option>
          <ion-select-option value="West">West</ion-select-option>
          <ion-select-option value="South">South</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="3" class="ion-text-center">
        <ion-item>
          <ion-label position="floating">Parking<span class="required-indicator" *ngIf="!parking">*</span></ion-label>
          
          <ion-input type="number" id="parking" [(ngModel)]="parking" required></ion-input>
          
        </ion-item>
      </ion-col>

      <ion-col size="3" class="ion-text-center">
        <ion-list>
          <ion-item>
            <ion-label>Let</ion-label>
            <ion-toggle [checked]="false" (click)="changeListingType()" [(ngModel)]="selectedValue"></ion-toggle>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>Sell</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col>
        <ion-select id="env-type" aria-label="env-type" placeholder="Distinct">
          <ion-select-option value="Rural">Rural</ion-select-option>
          <ion-select-option value="Semi-Rural">Semi-Rural</ion-select-option>
          <ion-select-option value="Urban">Urban</ion-select-option>
        </ion-select>
      </ion-col>

    </ion-row>
  
    <ion-row>
      <ion-col size ="3" class="ion-text-center">
        <ion-select id="pos-type" aria-label="pos-type" placeholder="Possession Type">
          <ion-select-option value="t1">T1</ion-select-option>
          <ion-select-option value="t2">T2</ion-select-option>
          <ion-select-option value="t3">T3</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size ="3">
        <ion-select id="furnish-type" aria-label="furnishing" placeholder="Furnishing">
          <ion-select-option value="f">Furnished</ion-select-option>
          <ion-select-option value="p">Partly Furnished</ion-select-option>
          <ion-select-option value="n">Not Furnished</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <br><br>

    <ion-row>
      
      
      <ion-col size="3" class="ion-text-center">
        <ion-label>
          <strong>Add your property's additional features</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      
      <ion-col size ="3" class="ion-text-center">
        <input id="feat-in" type="text" placeholder="Feature" class="addFeat" (keydown.enter)="addFeature()">&nbsp;<ion-button (click)="addFeature()" class="addButt">Add Feature</ion-button><br>
          <ion-item *ngFor="let feat of features,; let i = index">
            <ion-label>
              <ion-chip>
                {{feat}}
                &nbsp;
                <ion-icon name="close-circle" (click)="removeFeature(i)"></ion-icon>
                <ion-icon name="close" slot="end"></ion-icon>
              </ion-chip>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
    <br><br>

    <ion-row>
      <ion-col>
        <h2>Property Description</h2>
        <textarea id="desc" rows="10" cols="50"></textarea><br>
        <ion-button>AI Generated Description</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-button (click)="addListing()" [disabled]="photos.length === 0 ||!address||!price||!bedrooms||!bathrooms||!floor_size||!erf_size||!parking">ADD LISTING</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
