<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
    <div class="output">
      <h2 class="logo">
        <img src="../../assets/Logo_v1.png" width="7%"> Proper Property
      </h2>
      <div class="text-sec">
        <h2>Welcome!<br><span> to your World.</span></h2>
        <p>Properties Proper for you</p>
      </div>
    </div>

    <div class="input">
      <div class="form-container login">
        <form action="#">
          <h2>Log In</h2>

          <div class = "input-box">
            <input type="email" required>
            <label>Email</label>
          </div>
          <div class = "input-box">
            <input type="password" required>
            <label>Password</label>
          </div>
        </form>
      </div>
    </div>


  </div>
  <!-- <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  
  <div class="button-centerer">
    <div class="button-centerer2">
      <ion-button expand="full" (click)="login()">Login</ion-button>
    </div>

    <div class="button-centerer2">
      <ion-button class="buttons" size="default" (click)="googleLogin()">
        Sign in with Google
      </ion-button>
    </div>

    <div class="ion-padding">
      <p class="text-centrer-inator">Don't have an account? <a routerLink="/register">Sign up</a></p>
    </div>
  </div> -->
</ion-content>
