<ion-header [translucent]="true">
  
  <ion-toolbar class="first-toolbar">

  
    <ion-buttons slot="end">
      <ion-button routerLink="/home" routerDirection="root">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/listings" routerDirection="root">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="root">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" routerDirection="root">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons id="login-button" slot="end">
      <ion-button routerLink="/login" routerDirection="root">
       Login
      </ion-button>

    </ion-buttons>
    
  </ion-toolbar>

  <ion-toolbar class = "profile-nav" >

      <ion-tabs>
        <ion-tab-bar slot="end">
          <ion-tab-button tab="profile" routerLink="/profile" routerDirection="root" class="green-tab">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="create-listing" routerLink="/create-listing" routerDirection="root">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Create Listing</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="saved-listings" routerLink="/saved-listings" routerDirection="root">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Saved Listings</ion-label>
          </ion-tab-button>
    
          <ion-tab-button tab="my-listings" routerLink="/my-listings" routerDirection="root">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>My Listings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

  </ion-toolbar>
</ion-header>




<ion-header [translucent]="true">


    <div class="profile-header">
      <ion-icon slot="icon-only" name="person"></ion-icon>
      <div class="profile-details">
        <h1>{{ user.name }} {{ user.surname }}</h1>
        <h2>{{ user.email }}</h2>
        <ion-item>
          <ion-label position="stacked">Garden Lover</ion-label>
          <ion-range [(ngModel)]="user.interests.garden" ></ion-range>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mansion Passion</ion-label>
          <ion-range [(ngModel)]="user.interests.mansion" ></ion-range>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Make it Accessible</ion-label>
          <ion-range [(ngModel)]="user.interests.accessible" ></ion-range>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Open Concept Trend</ion-label>
          <ion-range [(ngModel)]="user.interests.openConcept"></ion-range>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Eco-Warrior</ion-label>
          <ion-range [(ngModel)]="user.interests.ecoWarrior"></ion-range>
        </ion-item>
      </div>
    </div>


</ion-header>

<ion-content [fullscreen]="true" class ="move-down">
  
    <!-- <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar  class="second-toolbar">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
  
        <ion-content>
          
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerLink]="[p.url]" routerDirection="root" lines="none">
                <ion-icon [name]="p.icon" slot="start"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane> -->
</ion-content>




