.profile-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  z-index: 100;

  ion-icon {
    font-size: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    color: #0DAE4F;
}

}

// ion-toolbar {
//   margin-bottom: 200px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }

.move-down {
  transform: translateY(450px); /* Adjust the value to your desired distance */
  height: 100%;
  overflow-y: auto;

}
.first-toolbar {
  position: relative; /* or absolute, depending on your layout */
  z-index: 1; /* Increase the z-index value if needed */
}

.second-toolbar {
  position: relative; /* or absolute, depending on your layout */
  z-index: 2; /* Increase the z-index value if needed */
  background-color: white;
}

.profile-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  text-align: center;

  ion-item {
    ion-range {
        --bar-background: #d6d6d6;
        --bar-height: 8px;
        --bar-border-radius: 4px;
        --knob-size: 0;
        --range-background: #00ff00;
        --range-background-active: #00ff00;
        --range-background-inactive: #d6d6d6;
        --range-knob-background: transparent;
        --range-knob-border-radius: 0;
        --range-knob-box-shadow: none;
        --range-knob-border: none;
        --range-knob-handle-box-shadow: none;
        pointer-events: none;

    }
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
    grid-column: 1 / span 2;
  }

  h3 {
    font-size: 16px;
    grid-column: 1 / span 2;
  }

  //set <ion-item> background not to show
    ion-item {
        --background: transparent;
    }
}

