.link{
  --color: var( --ion-color-primary-contrast);
}

.active
{
  --color: var( --ion-color-primary);
}

ion-toolbar{
  --background: rgba(0,0,0,0);
}


// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   --color: #b015be;
//   margin: 0;
// }


// #container a {
//   text-decoration: none;
//   height: fit-content;
// }

.swiper-container-wrapper {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 // height: 100%; /* Adjust the height as desired */

}

.deco1{
  position:absolute;
  width: 100px;
  height: 100px;
  top:400px;
  right: 30%;
  background: rgda(255,255,255,0);
}
.slideimg {
  width: 2000px; /* Adjust the size as desired */
  height:1000px; /* Adjust the size as desired */

}

// ion-card {
//   // background-color: #0DAE4F;
// }

#recommended {
  top: -180px;
  //max-width: 600px; /* Adjust the width as desired */
  max-height: 1000px;
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  
}



// #container a {
//   text-decoration: none;
// }

// #login-button{
//   background-color: #0DAE4F;
//   color: white;
// }

h1{
  position:absolute;
  top: 10%;
  font-size: 100px;
  left: 5%;
}
h2{
  position:absolute;
  top: 20%;
  font-size: 100px;
  left: 5%;
}

.custom-searchbar {
  top: -400px;
  left:5%;
  width: 1000px; /* Adjust the width as needed */
  --border-radius: 25px;
  --background: rgba(255, 255, 255, 0.7); 
  --icon-color: var(--ion-color-primary);


}

#sbut{ /* is it really needed?*/
  position: absolute;
  width: 120px;
  height: 40px;
  --border-radius: 25px;
  --background: green;
}

.custom-searchbar .searchbar-input {
  //background-color: black; /* Sets the background color to green */
  text-align: center; /* Centers the text within the search bar */
 
}

.pics{
  --background: red;
}
 