<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Proper Property</ion-title>
  
    <ion-buttons>
      <ion-button routerLink="/home" routerDirection="root">
        <ion-title>home</ion-title>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button routerLink="/listings" routerDirection="root">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search" routerDirection="root">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" routerDirection="root">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons id="login-button" slot="end">
      <ion-button routerLink="/login" routerDirection="root">
       Login
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header> -->
<ion-header >
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        Proper Property
      </ion-col>
      <ion-col size="10">
        <div class="navbar" class="ion-text-end">
          <ion-button fill="clear"  routerLink="/home" routerDirection="root" routerLinkActive="active"
            class="link">
            Home
          </ion-button>
          <ion-button fill="clear"  routerLink="/create-listing" routerDirection="root" routerLinkActive="active"
            class="link">
            Add Listing
          </ion-button>
          <ion-button fill="clear" routerLink="/listings" routerDirection="root" routerLinkActive="active"
            class="link">
            View Listing
          </ion-button>
          <ion-button fill="clear"  routerLink="/login" routerDirection="root" routerLinkActive="active"
          class="link">
          Log In
        </ion-button>
        <ion-button fill="clear"  routerLink="/login" routerDirection="root" routerLinkActive="active"
          class="link">
          Sign Up
        </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card id="recommended">
  <div class="swiper-container-wrapper">
    <swiper-container #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [pagination]="true">
      <!-- Slides content goes here -->
      <swiper-slide>
            <img src="assets/Fancy House.jpg" alt="house1">
      </swiper-slide>

      <swiper-slide> 
            <img src="assets/Cottage.jpg" alt="house1">
      </swiper-slide>
      
      <swiper-slide>
            <img src="assets/house1.png" alt="house1">
      </swiper-slide>
    </swiper-container>
  </div>
  </ion-card>

  <ion-text class="title-P" >
    <h1 >Proper Properties</h1>
    <h2 >for you</h2>
  </ion-text>

  <ion-searchbar class="custom-searchbar" >
    <ion-button id="sbut"></ion-button>
  </ion-searchbar>

  

  <!-- <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchItems()" class="custom-searchbar"></ion-searchbar> -->

  </ion-content>
