ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.swiper-container-wrapper {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust the height as desired */

  .swiper-button1 {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }

  .swiper-button2 {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
  }
}

#house_details img {
  width: 15px; /* Adjust the size as desired */
  height: 15px; /* Adjust the size as desired */
  border-radius: 10px;
}

ion-card {
  // background-color: #0DAE4F;
}

#recommended {
  top: -100px;
  max-width: 600px; /* Adjust the width as desired */
  max-height: 650px;
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 50px;
}



#container a {
  text-decoration: none;
}

#login-button{
  background-color: #0DAE4F;
  color: white;
}

.custom-searchbar {
  background-color: black;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Centers the search bar horizontally */
}

.custom-searchbar .searchbar-input {
  background-color: black; /* Sets the background color to green */
  text-align: center; /* Centers the text within the search bar */
  color: white; /* Sets the text color to white */
}
 