<ion-header >
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="0.5"><img class="logo" src="assets/Logo_v1.png" width="60%"></ion-col>
      <ion-col size="2">
        Proper Property
      </ion-col>
      <ion-col size="9">
        <div class="navbar" class="ion-text-end">
          <ion-button fill="clear"  routerLink="/home" routerDirection="root" routerLinkActive="active"
            class="link">
            Home
          </ion-button>
          <ion-button fill="clear"  routerLink="/create-listing" routerDirection="root" routerLinkActive="active"
            class="link">
            Add Listing
          </ion-button>
          <ion-button fill="clear" routerLink="/listings" routerDirection="root" routerLinkActive="active"
            class="link">
            View Listing
          </ion-button>
          <ion-button id="login-button" fill="clear"  routerLink="/login" routerDirection="root" routerLinkActive="active"
          class="link">
          Log In
        </ion-button>

        <ion-button fill="clear" routerLink="/profile" routerDirection="root" routerLinkActive="active"
        class="link">
        Profile
      </ion-button>

        <ion-button id="signup-button" fill="clear"  routerLink="/register" routerDirection="root" routerLinkActive="active"
          class="link">
          Sign Up
        </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card id="recommended">
  <div class="swiper-container-wrapper">
    <swiper-container #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [pagination]="true">
      <!-- Slides content goes here -->
      <swiper-slide>
            <img class="slideimg"  src="assets/Fancy House.jpg" alt="house1">
      </swiper-slide>

      <swiper-slide> 
            <img class="slideimg"  src="assets/Cottage.jpg" alt="house1">
      </swiper-slide>
      
      <swiper-slide>
            <img class="slideimg" src="assets/house1.png" alt="house1">
      </swiper-slide>
    </swiper-container>
  </div>
  </ion-card>

  <ion-text class="title-P" >
    <h1 >Proper Properties</h1>
    <h2 >for you</h2>
  </ion-text>

  <ion-searchbar class="custom-searchbar" >
    <ion-button id="sbut"></ion-button>
  </ion-searchbar>

  <img class="deco1" src="assets/GreenDots.png">
  <img class="deco2" src="assets/BlackDots.png">

  <section class="serv" id="serv">
    <h2 class="heading">What we Offer </h2>

    <div class="serv-container">

      <div class="serv-box">
        <img src="../../assets/fakeNN.avif">
        <h3>Proper Recommendations</h3>
        <p>Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.  Ut non enim finibus, tempus dui eget, tincidunt sem.</p>
      </div>
      
      <div class="serv-box">
        <img src="../../assets/mapImg.webp">
        <h3>Proper Communities</h3>
        <p>Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.  Ut non enim finibus, tempus dui eget, tincidunt sem.</p>
      </div>

      <div class="serv-box">
        <img src="../../assets/Cottage.jpg">
        <h3>Proper Properties</h3>
        <p>Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.  Ut non enim finibus, tempus dui eget, tincidunt sem.</p>
      </div>


    </div>
  </section>

    <!-- <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../assets/Cottage.jpg" width="90%">
        </ion-col>
        <ion-col>
          <h3>Making sure your area is just as Grand as your Property</h3>

          <p>Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra. Duis a arcu convallis, gravida purus eget, mollis diam. Praesent non urna non mauris laoreet ultricies eget at enim. Phasellus lacus odio, ullamcorper ac ipsum in, tincidunt tincidunt massa. Suspendisse ut malesuada sapien, vitae mollis diam. Suspendisse tristique et ex non faucibus. Pellentesque a urna risus. Ut non enim finibus, tempus dui eget, tincidunt sem.</p>
        </ion-col>
      </ion-row>
    </ion-grid> -->

  </ion-content>