<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" [(ngModel)]="surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="!passwordMatch">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>
  </ion-list>
  <div *ngIf="!passwordMatch" class="invalid-feedback">
    Passwords do not match!.
  </div>
  <div class="ion-padding">
    <ion-button expand="full" (click)="register()">Sign Up</ion-button>
  </div>

  <div id="additional-options">
    <div>
      <ion-button type="button" (click)="authService.GoogleAuth()">
        Log in with Google
      </ion-button>
    </div>
    <div class="ion-padding">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>


</ion-content>
