<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <swiper-container     #swiper
  (afterinit) = "swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [pagination] = "true">

    <swiper-slide>
      <img src="assets/slides/slide1.png">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/slides/slide2.png">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/slides/slide3.png">
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-buttons slot="end">
  <ion-button (click)="goPrev()">
    <ion-icon slot="ïcon-only" name="arrow-back"></ion-icon>
  </ion-button>
  <ion-button (click)="goNext()">
    <ion-icon slot="ïcon-only" name="arrow-forward"></ion-icon>
  </ion-button>
</ion-buttons>
